body {
  background: rgb(58,159,180);
background: linear-gradient(90deg, rgba(58,159,180,1) 0%, rgba(230,253,29,1) 100%, rgba(122,104,242,1) 100%);
}

.logo {
  width: 30%;
}

.bg-black {
  background: #090909;
}